<!DOCTYPE html>
<html>
<head>
    <title>Le Potato Controlboard</title>
</head>
<body>
    <h1>🥔 Le Potato Controlboard</h1>

    <h2>Services</h2>
    <ul>
        <li><a href="http://localhost:8082" target="_blank">Proxy Web UI</a></li>
        <li>SSH: <code>ssh user@IP</code></li>
    </ul>

    <h2>Proxy Instructions</h2>
    <ol>
        <li>Set browser proxy to <b>IP:8081</b></li>
        <li>Visit <a href="http://mitm.it">http://mitm.it</a></li>
        <li>Install certificate</li>
    </ol>
</body>
</html>
